<div class="d-flex flex-column justify-content-between sidebar">
  <div>
    <ul>
      <li>
        <h5>
          <a href="/"><i class="fa-brands fa-twitter"></i> </a>
        </h5>
      </li>
      <li>
        <h5>
          <a href="/"><i class="fa-solid fa-house-user"></i> Inicio</a>
        </h5>
      </li>
      <li>
        <h5>
          <a href="#"><i class="fa-solid fa-hashtag mx-2"></i> Explorar</a>
        </h5>
      </li>
      <li>
        <h5>
          <a href="#"> <i class="fa-solid fa-bell mx-2"></i> Notificaciones</a>
        </h5>
      </li>
      <li>
        <h5>
          <a href="#"> <i class="fa-solid fa-envelope mx-2"></i> Mensajes</a>
        </h5>
      </li>
      <li>
        <h5>
          <a href="#"> <i class="fa-solid fa-bookmark mx-2"></i> Guardados</a>
        </h5>
      </li>
      <li>
        <h5>
          <a href="#"><i class="fa-solid fa-list mx-2"></i> Listas</a>
        </h5>
      </li>
      <li>
        <h5>
          <a href="/profile/<%= user.id %> "><i class="fa-solid fa-user mx-2"></i> Perfil</a>
        </h5>
      </li>
      <li>
        <h5>
          <a href="#"><i class="fa-solid fa-ellipsis mx-2"></i> Más opciones</a>
        </h5>
      </li>
      <button class="btn tweet-btn" id="sidebarTweetBtn">Tweet</button>
    </ul>
  </div>

  <div class="px-3" style="width: 100%">
    <div class="d-flex">
      <div class="px-3">
        <% if(user.profileImage.includes("http")) {%>
        <img src="<%=user.profileImage%>" class="profileImage" alt="profile image" />
        <% } else{%>
        <img src="/img/<%= user.profileImage%>" class="profileImage" alt="profile image" />
        <% } %>
      </div>
      <div class="d-flex flex-column">
        <h6>
          <strong> <%= user.firstname + " " + user.lastname %> </strong>
        </h6>
        <span class="user"> @<%= user.username %></span>
        <form action="/logout" method="post">
          <button class="user" id="logout" type="submit">
            <i class="fa-solid fa-right-from-bracket"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
