<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido a tu perfil de Twitter</title>
    <script src="https://kit.fontawesome.com/5f5e2fe79d.js" crossorigin="anonymous"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
<link rel="stylesheet" href="/profileStyles.css">
  </head>
  <body>
    <section>
      <div class="container">
        <div class="row">


            <!-- ---------------------- SIDEBAR --------------------- -->
          <div class="col-3 ">
            <ul >
              <li >
                <h2 class="rounded">
                  <a href="/"><i class="fa-brands fa-twitter"></i> </a>
                </h2>
              </li>
              <li>
                <h4>
                  <a href="/"></i>Home</a>
                </h4>
              </li>
              <li>
                <h4>
                   Explore
                </h4>
              </li>
              <li>
                <h4>
                   Notification
                </h4>
              </li>
              <li>
                <h4>
                   Messages
                </h4>
              </li>
              <li>
                <h4>
                Bookmarks
                </h4>
              </li>
              <li>
                <h4>
                  Lists
                </h4>
              </li>
              <li>
                <h4>
                   Profile
                </h4>
              </li>
              <li>
                <h4>
                  More
                </h4>
              </li>
              <button class="btn tweet-btn" id="sidebarTweetBtn">
                Tweet
              </button>
            </ul>
          </div>

          <!-- ------------------SIDEBAR END --------------------- -->


          <!-- ---------------- TWEET ZONE START ---------------- -->
          <div class="col-6" id="parallelLines">
            <div class="d-flex profileUser align-items-center">
              <div class="rounded"> <a href="/"> <i class="fa-solid fa-arrow-left"></i> </a></div> 
              <div class="mb-2">
                <h4 >  <%= userTweets.firstname + " " + userTweets.lastname  %></h4>
               <h6 class="tt" " > <%= userTweets.tweets.length %>  Tweets</h6>
              </div>
            </div>
            <div id="hh">
              <div id="headerPic">
              </div>
              <div>
                <img
                 id="headProfileImage"
                  src="<%= userTweets.profileImage %> "
                  alt="profile image"
                />
              </div>
              <button class="btn" id="edit-btn"> Edit profile</button>
            </div>
            
               <h4 class="profileUser"><strong>  <%= userTweets.firstname + " " + userTweets.lastname  %></strong></h4>
               <h6 class="tt"> @<%=  userTweets.username%> </h6>
               <p class="my-4"><%= userTweets.description %> </p>
               <h6 id="born">  Born August 01, 1962 | Joined September 1998</h6>
                <h6><%= userTweets.followings.length%> 
                  <text class="tt"> Following</text>  
                  <%= userTweets.followers.length%> 
                  <text class="tt"> Followers</text>
                </h6> 
            <div>
                <ul class="d-flex justify-content-around p-0 m-0" >
                    <li class="profileList underline" ><span> Tweets</span></li>
                    <li  class="profileList">Tweets & replies</li>
                    <li  class="profileList">Media</li>
                    <li  class="profileList">Likes</li>
                </ul>
            </div>
                
            <hr class="mt-0"/>

            <% for( const tweet of userTweets.tweets) { %>

            <div class=" d-flex" style="width: 100%">
              <div class="px-3 " >
                <img
                  class="profileImage"
                  src="<%= userTweets.profileImage %> "
                  alt="profile image"
                />
              </div>
              <div class="px-3" style="width: 100%">
                <div>
                <a class="user"  href="#">
                  <%= tweet.user.username %>
                </a>
                <p><%= tweet.text %></p>
                </div>
                <div class="d-flex justify-content-around align-items-center" >
                    <i class="fa-regular fa-comment"></i>
                    <i class="fa-solid fa-retweet"></i>
                    <form action="/like" method="post">
                        <button id="like" type="submit" ">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                    </form>
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                </div>
              </div>
            </div>
            <hr />
            <% } %>
          </div>

          <!-- ------------------------TWEETS ZONE END ---------------------- -->


 <!-------------- TRENDING BAR ------------>
          <div class="col-3">
            <input
              id="search"
              disabled
              type="text"
              placeholder="Search Twitter"
            />
            <div class="trends card ">
              <h2>Trends for you</h2>
              <hr />
              <p class="tt">Trending in Uruguay</p>
              <p class="loremTT">Lorem ipsum dolor sit amet.</p>
              <p class="tt">427K Tweets</p>
              <hr />
              <p class="tt">Trending in Uruguay</p>
              <p class="loremTT">Lorem ipsum dolor sit amet.</p>
              <p class="tt">427K Tweets</p>
              <hr />
              <p class="tt">Trending in Uruguay</p>
              <p class="loremTT">Lorem ipsum dolor sit amet.</p>
              <p class="tt">427K Tweets</p>
              <hr />
              <p class="tt">Trending in Uruguay</p>
              <p class="loremTT">Lorem ipsum dolor sit amet.</p>
              <p class="tt">427K Tweets</p>
              <hr />
              <p class="tt">Trending in Uruguay</p>
              <p class="loremTT">Lorem ipsum dolor sit amet.</p>
              <p class="tt">427K Tweets</p>
              <hr />
              
            </div>
          </div>
<!-- ------- TRENDING BAR END -------- -->


        </div>
      </div>
    </section>
  </body>
</html>
